*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(244, 244, 244);
    background-image: url(../images/fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 90px;
}



header input{
    display: none;
}
nav{  /* barra superior */
    background: #f59f35; 
    position: fixed;
    width: 100%;
    height: 90px;
    /*overflow: hidden;*/
}
.enlace{ /*cuadro logo*/
    height: 100%;
    width: auto;
    position:absolute;
    padding: 0px 0px;
}
.logo{
    width: 100px;
    height: 100px;
}
nav > ul{
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}

nav ul>li{
    font-family: pacifico;
    border-left: 1px solid black;
}

nav ul li a{
    padding: 0px 15px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-decoration:none ;
}
.perfil{
    height: 100%;
    display: flex;
}
.profileimg
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}
.barra{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.barraimg
{
    width: 80px;
    height:60px;
}

.barra ul{
    margin-top: 190px;
    display:block;
    position:absolute;
    min-width: 260px;
    height: 0px;
    list-style: none;
    overflow: hidden;
}
.barra ul li{
    float: right;
    width: 220px;
    font-family:arial;
    margin-right: 50px;
    border: 0px solid #f59f35;
}
.barra ul li a{
    text-decoration:none ;
    display:flex;
    justify-content:left;
    align-items: center;
    margin: 1px 0px;
    color: black;
    font-size: 20px;
    background-color: #f59f35;
    border: 1px solid black;
}
.barra ul a:hover{
    color:white;
}
nav ul li:hover ul{
    height: 101px;
    transition-duration: 0.4s;
}

li a:hover{
    color: black;
    transition: 0.3s;
}

.imgconfig1{
    padding-left: 5px;
    width: 30px;
    height: 30px;
}
.imgconfig2{
    padding-left: 48px;
    width: 30px;
    height: 30px;
}
.imgconfig3{
    padding-left:72px;
    width: 30px;
    height: 30px;
}
@media (max-width: 1120px){
    body{
        background-color: rgb(244, 244, 244);
        background-image: url(../images/fondo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 50px;
    }
    nav{  /* barra superior */
        background: #f59f35; 
        position: fixed;
        width: 100%;
        height: 50px;
        /*overflow: hidden;*/
    }
    .enlace{ /*cuadro logo*/
        height: 100%;
        width: auto;
        position:absolute;
        padding: 3px 0px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    nav > ul{
        height: 100%;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        list-style: none;
    }
    
    nav ul>li{
        font-family: pacifico;
        border-left: 1px solid black;
    }
    
    nav ul li a{
        padding: 0px 15px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        text-decoration:none ;
    }
    .perfil{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profileimg
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid black;
    }
    .barra{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .barra a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .barraimg
    {
        width: 40px;
        height:30px;
    }
    
    .barra ul{
        margin-top: 190px;
        display:block;
        position:absolute;
        min-width: 260px;
        height: 0px;
        list-style: none;
        overflow: hidden;
    }
    .barra ul li{
        float: right;
        width: 220px;
        font-family:arial;
        margin-right: 50px;
        border: 0px solid #f59f35;
    }
    .barra ul li a{
        text-decoration:none ;
        display:flex;
        justify-content:left;
        align-items: center;
        margin: 1px 0px;
        color: black;
        font-size: 20px;
        background-color: #f59f35;
        border: 1px solid black;
    }
    .barra ul a:hover{
        color:white;
    }
    nav ul li:hover ul{
        height: 101px;
        transition-duration: 0.4s;
    }
    
    li a:hover{
        color: black;
        transition: 0.3s;
    }
    
    .imgconfig1{
        padding-left: 5px;
        width: 30px;
        height: 30px;
    }
    .imgconfig2{
        padding-left: 48px;
        width: 30px;
        height: 30px;
    }
    .imgconfig3{
        padding-left:72px;
        width: 30px;
        height: 30px;
    }
}
/*modal*/
.imgBuscador{
    height: 30px;
    width: 30px;
}
#info{
    margin-top: 300px;
    height: 700px;
    width: 100%;
}
#modal::backdrop{
    background-color: rgba(0,0,0,.55);
    
}

#modal{
    padding: 50px 5px;
    margin: 10% 19%;
    width: 60%;
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: #f59f35;
    font-family:Impact;
}
#modal button {
    margin: 0px 4%;
    background: url("../images/boton.png") center;
    background-size: 100% 100%;
    color: black;
    font-size: 2vh;
    border-width: 0px;
    padding: 5px 30px;
}

.volumen{
    width: 270px;
}

.Cmodal{
    margin: 60px, 60px;
    padding: 20px 10px;
}
.Cmodal2{
    margin: 60px, 60px;
    padding: 20px 1px;
    display: flex;
    justify-content: center;
}

.Cpermisos1{
    margin: 0px 6%;
    text-align: left;
}
/*---Barra menu---- hasta aqui*/

.BannerPerfil
{
    font-family:'Times New Roman';
    position: static;
    font-size: 50px;
    background-color: #FBBCB6;
    padding-top:10px;
    display: flex;
    justify-content: center;
}
.contPerfil{
    display: flex;
    justify-content: center;
}
.profileimg2
{ 
    margin-top: 25px ;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    border: 9px solid #fff;
}
.subir input{
    display: none;
}
.subir{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.Information1{
    padding-top: 50px;
}
.contEditar{
    
    display: flex;
    justify-content: center;
}
.BotonPerfil
{
    color: black;
    font-size: 30px;
    text-decoration: none;
}
.BotonPerfil:hover
{
color:#FF3364;
cursor:pointer;
transition-duration: 0.2s;
}
.Information1
{
    font-family: 'Montserrat', 'sans-serif';
    height: 100%;
    width:100%;
    line-height: 80px;
    display: flex;
    justify-content: center;
}
.ContainerA
{
    font-size: 22px;
    flex-direction: column;
    display:flex;
    float:left;
    margin: 0px 100px;
}
.ContainerA h2{
    margin: 6px;
    display: flex;
    border-radius: 40px;
    background-color: #f59f35;
    width: 100%;
    justify-content: center; 
}
.ContainerB
{
    font-size: 28px;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;    
    float: right;
    margin-left: 0px 100px;
}
.ContainerB input{
    margin: 6px;
    display: flex;
    text-align: center;
    font-size: 30px;
    border-radius: 40px;
    background-color: #f59f35;
    width: 100%;
    height: 65px;
    border-width: 0;
}
.ContainerB p{
    margin: 6px;
    display: flex;
    border-radius: 40px;
    background-color: #f59f35;
    width: 100%;
    justify-content: center; 
}

#save
{
    display:block;
    width: 180px;
    height: 80px;
    transform:translateX(1500px);
    background-color: #FBBCB6;
    border:none;
    border-radius: 15px;
    transition: ease-out 0.3s;
    margin: 30px 0px;
}
.guardar{
    font-size: 25px;
    font-family: 'Montserrat', 'sans-serif';
    color:#fff;
    font-weight: 700;
    text-decoration: none;
}
#save:hover
{
color:#FBBCB6;
cursor:pointer;
box-shadow: inset 300px 0 0 0 #FF3364;
}

.version h2{
    background-color: #f59f35;
    width: 100%;
    display: flex;
    justify-content: center;
}