*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(244, 244, 244);
    background-image: url(../images/fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 120px;
}

nav{  /* barra superior */
    background: #f59f35; 
    position: fixed;
    width: 100%;
    height: 120px;
}
.enlace{ /*cuadro logo*/
    position: absolute;
    padding: 10px 20px;
}
.logo{
    width: 115px;
    height: 115px;
}
nav ul{
    float: right;
    list-style: none;
    padding: 20px 5px;
    padding-right: 20px;
    overflow: hidden;
}

nav ul li{
    float: left;
    font-family: pacifico;
}

nav ul li a{
    display: block;
    padding: 0px 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-decoration:none ;
}
nav ul li ul{
    margin-right: 50px;
    position: absolute;
    width: 260px;
    margin-top: -35px;
    height: 0%;
    overflow: hidden;
}
nav ul li ul li{
    float: right;
    width: 100%;
    height: 44px; 
    font-family:arial;
    margin-right: 50px;
}
nav ul li ul li a{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    color: black;
    font-size: 20px;
    background-color: #f59f35;
}
nav ul li ul a:hover{
    color:white;
}
nav ul li:hover ul{
    height: 110%;
    transition-duration: 0.4s;
}

li a:hover{
    color: black;
    transition: 0.3s;
}
.profileimg
{
    margin-top: -15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #000000;
}

.barraimg
{
    width: 100px;
    height:80px;
}
.imgconfig{
    width: 40px;
    height: 40px;
}
.imgBuscador{
    height: 30px;
    width: 30px;
}
#info{
    margin-top: 300px;
    height: 700px;
    width: 100%;
}
#modal::backdrop{
    background-color: rgba(0,0,0,.55);
    
}
#modal{
    padding: 50px 5px;
    margin: 10% 19%;
    width: 60%;
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: #f59f35;
    font-family:Impact;
}
#modal button {
    margin: 0px 4%;
    background: url("../images/boton.png") center;
    background-size: 100% 100%;
    color: black;
    font-size: 2vh;
    border-width: 0px;
    padding: 5px 30px;
}

.volumen{
    width: 270px;
}

.Cmodal{
    margin: 60px, 60px;
    padding: 20px 10px;
}
.Cmodal2{
    margin: 60px, 60px;
    padding: 20px 1px;
    display: flex;
    align-items:flex-start;
    justify-content: center;
}

.Cpermisos1{
    margin: 0px 6%;
    text-align: left;
}
.BannerRopa
{
    font-family:'Times New Roman';
    position: static;
    font-size: 50px;
    background-color: #F2C6C2;
    padding:10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.contenedor{
    background-color: #F2C6C2;
    font-family: 'Courier Prime', monospace;
    height: 100%;
    width:100%;
    line-height: 80px;
    display: flex;
}
.columna1
{
margin: 250px 250px;
justify-content: center;
align-items: center;    
}
.columna2
{
padding: 100px;
margin: 250px 50px;
}
.cb{
    font-family: 'Courier Prime', monospace;
    font-size: 21px;
    text-align: center;
    width: 500px;
    height: 50px;
    border:2px solid #aaa;
    border-radius: 20px;
    margin: 0.5px 0;
    outline: none;
    padding:8px;
    box-sizing: border-box;
    transition: .3s;
}
.cb:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.fondo-save
{
    background-color: #F2C6C2;
    margin: 0;
    padding: 80px 10px;
}
#save
{
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 500;
    display:block;
    width: 300px;
    height: 60px;
    transform:translateX(100px);
    color:black;
    background-color: #f59f35;
    border:none;
    border-radius: 30px;
    outline: none;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 #FF3364;
}
#save:hover
{
    background-color: transparent;
    border:2px solid #FBBCB6;
    color:#FBBCB6;
    cursor:pointer;
    box-shadow: inset 300px 0 0 0 #FF3364;
}
.version h2{
    line-height: 75px;  
    font-size: 20px;
    background:#F2B263;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    align-items: center;
    text-align: center;
    width: 300px;
    height: 70px;
    font-size: 21px;
}
#prevista{
    width: 300px;
    height: 300px;
    padding: 0;
}
.Foto{
z-index:10;
border-radius: 50%;
object-fit: cover;
border: 5px solid #fff;
display: block;
}
#prevista{
    width: 400px;
    height: 400px;
}
