*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(244, 244, 244);
    background-image: url(../images/fondo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 90px;
}



header input{
    display: none;
}
nav{  /* barra superior */
    background: #f59f35; 
    position: fixed;
    width: 100%;
    height: 90px;
    /*overflow: hidden;*/
}
.enlace{ /*cuadro logo*/
    height: 100%;
    width: auto;
    position:absolute;
    padding: 0px 0px;
}
.logo{
    width: 100px;
    height: 100px;
}
nav > ul{
    height: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    list-style: none;
}

nav ul>li{
    font-family: pacifico;
    border-left: 1px solid black;
}

nav ul li a{
    padding: 0px 15px;
    color: rgb(255, 255, 255);
    font-size: 32px;
    text-decoration:none ;
}
.perfil{
    height: 100%;
    display: flex;
}
.profileimg
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}
.barra{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barra a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.barraimg
{
    width: 80px;
    height:60px;
}

.barra ul{
    margin-top: 190px;
    display:block;
    position:absolute;
    min-width: 260px;
    height: 0px;
    list-style: none;
    overflow: hidden;
}
.barra ul li{
    float: right;
    width: 220px;
    font-family:arial;
    margin-right: 50px;
    border: 0px solid #f59f35;
}
.barra ul li a{
    text-decoration:none ;
    display:flex;
    justify-content:left;
    align-items: center;
    margin: 1px 0px;
    color: black;
    font-size: 20px;
    background-color: #f59f35;
    border: 1px solid black;
}
.barra ul a:hover{
    color:white;
}
nav ul li:hover ul{
    height: 101px;
    transition-duration: 0.4s;
}

li a:hover{
    color: black;
    transition: 0.3s;
}

.imgconfig1{
    padding-left: 5px;
    width: 30px;
    height: 30px;
}
.imgconfig2{
    padding-left: 48px;
    width: 30px;
    height: 30px;
}
.imgconfig3{
    padding-left:72px;
    width: 30px;
    height: 30px;
}
@media (max-width: 1120px){
    body{
        background-color: rgb(244, 244, 244);
        background-image: url(../images/fondo.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: 50px;
    }
    nav{  /* barra superior */
        background: #f59f35; 
        position: fixed;
        width: 100%;
        height: 50px;
        /*overflow: hidden;*/
    }
    .enlace{ /*cuadro logo*/
        height: 100%;
        width: auto;
        position:absolute;
        padding: 3px 0px;
    }
    .logo{
        width: 50px;
        height: 50px;
    }
    nav > ul{
        height: 100%;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        list-style: none;
    }
    
    nav ul>li{
        font-family: pacifico;
        border-left: 1px solid black;
    }
    
    nav ul li a{
        padding: 0px 15px;
        color: rgb(255, 255, 255);
        font-size: 15px;
        text-decoration:none ;
    }
    .perfil{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .profileimg
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid black;
    }
    .barra{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .barra a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .barraimg
    {
        width: 40px;
        height:30px;
    }
    
    .barra ul{
        margin-top: 190px;
        display:block;
        position:absolute;
        min-width: 260px;
        height: 0px;
        list-style: none;
        overflow: hidden;
    }
    .barra ul li{
        float: right;
        width: 220px;
        font-family:arial;
        margin-right: 50px;
        border: 0px solid #f59f35;
    }
    .barra ul li a{
        text-decoration:none ;
        display:flex;
        justify-content:left;
        align-items: center;
        margin: 1px 0px;
        color: black;
        font-size: 20px;
        background-color: #f59f35;
        border: 1px solid black;
    }
    .barra ul a:hover{
        color:white;
    }
    nav ul li:hover ul{
        height: 101px;
        transition-duration: 0.4s;
    }
    
    li a:hover{
        color: black;
        transition: 0.3s;
    }
    
    .imgconfig1{
        padding-left: 5px;
        width: 30px;
        height: 30px;
    }
    .imgconfig2{
        padding-left: 48px;
        width: 30px;
        height: 30px;
    }
    .imgconfig3{
        padding-left:72px;
        width: 30px;
        height: 30px;
    }
}
/*modal*/
.imgBuscador{
    height: 30px;
    width: 30px;
}
#info{
    margin-top: 300px;
    height: 700px;
    width: 100%;
}
#modal::backdrop{
    background-color: rgba(0,0,0,.55);
    
}

#modal{
    padding: 50px 5px;
    margin: 10% 19%;
    width: 60%;
    position: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: #f59f35;
    font-family:Impact;
}
#modal button {
    margin: 0px 4%;
    background: url("../images/boton.png") center;
    background-size: 100% 100%;
    color: black;
    font-size: 2vh;
    border-width: 0px;
    padding: 5px 30px;
}

.volumen{
    width: 270px;
}

.Cmodal{
    margin: 60px, 60px;
    padding: 20px 10px;
}
.Cmodal2{
    margin: 60px, 60px;
    padding: 20px 1px;
    display: flex;
    justify-content: center;
}

.Cpermisos1{
    margin: 0px 6%;
    text-align: left;
}

/**/
.BannerRopa
{
    font-family:'Times New Roman';
    position: static;
    font-size: 50px;
    background-color: #F2C6C2;
    padding:10px;
    display: flex;
    justify-content: center;
}
.contenedor{
    display: auto;
    position: static;
    padding: 100px 2%;
    font-family: 'Courier Prime', monospace;
}
.buscar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: static;
    padding: 5px;
}
.buscar input{
    width: 420px;
    height: 55px;
    padding: 0 20px;
    font-size: 28px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.comentario{
    display:flex;
    align-items: center;
    justify-content: center;
    position: static;
    padding: 5px;
}
.comentario input{
    width: 1400px;
    height: 55px;
    padding: 0 20px;
    font-size: 28px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.outfits-fila1{
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(280px, auto));
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
}
.box{ 
    padding: 0px 0px;
    border-radius: 10px;
    position: static;
    transition: all .35s ease;
    background-color: #F2C6C2;
    border: 0.5px solid rgb(255, 171, 171);
}
.outfit{
    padding-top: 7px;
    width: 200px;
    height: 300px;
}

.Botonn{
    margin: 6px;
    display: flex;
    border: 40px solid;
    border-radius: 40px;
    border-width: 0;
    background-color: #f59f35;
    width: 100%;
    justify-content: center; 
}
.stars{
    width: 30%;
    height: 30%;
    background-color: rgb(255, 239, 194);
    border-radius: 20px;
    padding: 0px 0px;
}


.comentar{
    margin: 6px;
    display: block;
    border: 0.5px solid black;
    border-radius: 40px;
    background-color: #f59f35;
    justify-content: center; 
    color:black;
    font-size: 19px;
    text-decoration: none;
}

.version h2{
    background-color: #f59f35;
    width: 100%;
    display: flex;
    justify-content: center;
}
